[submodule "src/grbl"]
	path = src/grbl
	url = https://github.com/grblHAL/core
[submodule "src/odometer"]
	path = src/odometer
	url = https://github.com/grblHAL/Plugin_odometer
[submodule "src/laser"]
	path = src/laser
	url = https://github.com/grblHAL/Plugins_laser
[submodule "src/encoder"]
	path = src/encoder
	url = https://github.com/grblHAL/Plugin_encoder
[submodule "src/keypad"]
	path = src/keypad
	url = https://github.com/grblHAL/Plugin_I2C_keypad
[submodule "src/networking"]
	path = src/networking
	url = https://github.com/grblHAL/Plugin_networking
[submodule "src/sdcard"]
	path = src/sdcard
	url = https://github.com/grblHAL/Plugin_SD_card
[submodule "src/spindle"]
	path = src/spindle
	url = https://github.com/grblHAL/Plugins_spindle
[submodule "src/plasma"]
	path = src/plasma
	url = https://github.com/grblHAL/Plugin_plasma
[submodule "src/eeprom"]
	path = src/eeprom
	url = https://github.com/grblHAL/Plugin_EEPROM
